{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DESKBY</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>

<body>
    <!-- NAVBAR -->

    <!-- JUMBOTRON -->
    <div class="jumbotron" style="padding-top: 0rem;">
        <nav class="navbar navbar-expand-lg transparent">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="{% static 'img/deskby-logo.png' %}" class="logo-image" alt="">
            </a>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Find a space</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">How it works</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Need a help?</a>
                    </li>
                </ul>
                <ul class="navbar-nav my-2 my-lg-0 right">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Login</a>
                    </li>
                    <li class="nav-item cart-custom">
                        <i class="fa fa-shopping-cart"></i>
                        <span><a class="nav-link" href="#">Cart (0)</a></span>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-primary add-space" href="#" role="button">Add a space</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="jumbotron-custom">
            <h1 class="display-4">Find your next Working Desk, Private Office or Event Space</h1>
            <div class="row search-bar">
                <div class="col-md-7">
                    <input class="form-control form-control-sm resp-search" type="text"
                        placeholder="&#xF002; Find a space" style="font-family:Arial, FontAwesome">
                </div>
                <div class="col-md-3 select-type">
                    <select class="form-control form-control-sm select-custom">
                        <option>Space Type</option>
                    </select>
                </div>
                <div class="col-md-2 search-button">
                    <a class="btn btn-primary search-button-select" href="#" role="button">SEARCH</a>
                </div>

            </div>
        </div>
    </div>

    <section>
        <div class="container">
            <div class="content">
                <h3 class="content-title">Find your workspace</h3>
                <div class="row workspace-first">
                    <div class="col-md-3">
                        <img src="{% static 'img/working.jpg' %}" alt="">
                        <p class="workspace-content">
                            Working Desk
                        </p>
                    </div>
                    <div class="col-md-3">
                        <img src="{% static 'img/meeting.jpg' %}" alt="">
                        <p class="workspace-content">
                            Meeting Room
                        </p>
                    </div>
                    <div class="col-md-3">
                        <img src="{% static 'img/conference.jpg' %}" alt="">
                        <p class="workspace-content">
                            Conference Room
                        </p>
                    </div>
                    <div class="col-md-3">
                        <img src="{% static 'img/private.jpg' %}" alt="">
                        <p class="workspace-content">
                            Private Office
                        </p>
                    </div>
                </div>
                <div class="row workspace-first">
                    <div class="col-md-3">
                        <img src="{% static 'img/dining.jpg' %}" alt="">
                        <p class="workspace-content">
                            Corporate Dining
                        </p>
                    </div>
                    <div class="col-md-6 custom-md-6">
                        <img src="{% static 'img/event.jpg' %}" alt="">
                        <p class="workspace-content">
                            Event Space
                        </p>
                    </div>
                    <div class="col-md-3">
                        <img src="{% static 'img/virtual.jpg' %}" alt="">
                        <p class="workspace-content">
                            Virtual Office
                        </p>
                    </div>
                </div>
            </div>
            <div class="content">
                <h3 class="content-title">Top Listings</h3>
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row listings">
                                <div class="col-md-3">
                                    <div class="card">
                                        <img src="{% static 'img/listing-1.jpg' %}" alt="">
                                        <div class="listing-content">
                                            <p class="price-title">
                                                <strong>Rp590,000 </strong>Nice meeting room ...
                                            </p>
                                            <p class="location">Jakarta &#183; Meeting Room</p>
                                            <p class="review">
                                                <i class="fa fa-star" style="font-size:12px; color: #e14e68;"></i>
                                                <i class="fa fa-star" style="font-size:12px; color: #e14e68;"></i>
                                                <i class="fa fa-star" style="font-size:12px; color: #e14e68;"></i>
                                                <i class="fa fa-star" style="font-size:12px; color: #e14e68;"></i>
                                                <i class="fa fa-star" style="font-size:12px; color: #e14e68;"></i>
                                                8 reviews</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card">
                                        <img src="{% static 'img/listing-2.jpg' %}" alt="">
                                        <div class="listing-content">
                                            <p class="price-title">
                                                <strong>Rp590,000 </strong>Nice meeting room ...
                                            </p>
                                            <p class="location">Jakarta &#183; Meeting Room</p>
                                            <p class="review">
                                                <i class="fa fa-star" style="font-size:12px; color: #e14e68;"></i>
                                                <i class="fa fa-star" style="font-size:12px; color: #e14e68;"></i>
                                                <i class="fa fa-star" style="font-size:12px; color: #e14e68;"></i>
                                                <i class="fa fa-star" style="font-size:12px; color: #e14e68;"></i>
                                                <i class="fa fa-star" style="font-size:12px; color: #e14e68;"></i>
                                                8 reviews</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card">
                                        <img src="{% static 'img/listing-3.jpg' %}" alt="">
                                        <div class="listing-content">
                                            <p class="price-title">
                                                <strong>Rp590,000 </strong>Nice meeting room ...
                                            </p>
                                            <p class="location">Jakarta &#183; Meeting Room</p>
                                            <p class="review">
                                                <i class="fa fa-star" style="font-size:12px; color: #e14e68;"></i>
                                                <i class="fa fa-star" style="font-size:12px; color: #e14e68;"></i>
                                                <i class="fa fa-star" style="font-size:12px; color: #e14e68;"></i>
                                                <i class="fa fa-star" style="font-size:12px; color: #e14e68;"></i>
                                                <i class="fa fa-star" style="font-size:12px; color: #e14e68;"></i>
                                                8 reviews</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card">
                                        <img src="{% static 'img/listing-4.jpg' %}" alt="">
                                        <div class="listing-content">
                                            <p class="price-title">
                                                <strong>Rp590,000 </strong>Nice meeting room ...
                                            </p>
                                            <p class="location">Jakarta &#183; Meeting Room</p>
                                            <p class="review">
                                                <i class="fa fa-star" style="font-size:12px; color: #e14e68;"></i>
                                                <i class="fa fa-star" style="font-size:12px; color: #e14e68;"></i>
                                                <i class="fa fa-star" style="font-size:12px; color: #e14e68;"></i>
                                                <i class="fa fa-star" style="font-size:12px; color: #e14e68;"></i>
                                                <i class="fa fa-star" style="font-size:12px; color: #e14e68;"></i>
                                                8 reviews</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row listings">
                                <div class="col-md-3">
                                    <div class="card">
                                        <img src="{% static 'img/listing-5.jpg' %}" alt="">
                                        <div class="listing-content">
                                            <p class="price-title">
                                                <strong>Rp590,000 </strong>Nice meeting room ...
                                            </p>
                                            <p class="location">Jakarta &#183; Meeting Room</p>
                                            <p class="review">
                                                <i class="fa fa-star" style="font-size:12px; color: #e14e68;"></i>
                                                <i class="fa fa-star" style="font-size:12px; color: #e14e68;"></i>
                                                <i class="fa fa-star" style="font-size:12px; color: #e14e68;"></i>
                                                <i class="fa fa-star" style="font-size:12px; color: #e14e68;"></i>
                                                <i class="fa fa-star" style="font-size:12px; color: #e14e68;"></i>
                                                8 reviews</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="fa fa-angle-left fa-2x custom-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="fa fa-angle-right fa-2x custom-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="content works">
            <h3 class="content-title">How it works</h3>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 works-content">
                        <img src="{% static 'img/map.png' %}" class="works-img" alt="">
                        <p>
                            <strong>1. Browse unique spaces</strong>
                        </p>
                        <p>
                            Explore the marketplace to find a space that fits your needs. From urban lofts and studios
                            to
                            modern meeting spaces, we've got you covered.
                        </p>
                    </div>
                    <div class="col-md-4 works-content">
                        <img src="{% static 'img/calendar.png' %}" class="works-img" alt="">
                        <span><img src="{% static 'img/visa.png' %}" class="works-img-other" alt=""></span>
                        <p>
                            <strong>2. Connect with hosts</strong>
                        </p>
                        <p>
                            We've designed Peerspace to save you time and hassle. Narrow your search, message hosts
                            directly and confirm detauls through our website or mobile app.
                        </p>
                    </div>
                    <div class="col-md-4 works-content">
                        <img src="{% static 'img/bag.png' %}" class="works-img" alt="">
                        <p>
                            <strong>
                                3. Book & Enjoy</strong>
                        </p>
                        <p>
                            Finalize your reservation using our secure online booking process and make the most of your
                            creative space. We'll make sure your offsite, event or production is memorable.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="content clients-header">
            <h3 class="content-title">Our Clients</h3>
            <div class="container clients">
                <img src="{% static 'img/google.png' %}" class="logo-clients" alt="">
                <img src="{% static 'img/unilever.png' %}" class="logo-clients" alt="">
                <img src="{% static 'img/uber-left.png' %}" class="logo-clients-left" alt=""><span>
                    <img src="{% static 'img/uber-right.png' %}" class="logo-clients-right" alt="">
                </span>
                <img src="{% static 'img/zalora.png' %}" class="logo-clients" alt="">
                <img src="{% static 'img/food-panda.png' %}" class="logo-clients" alt="">
                <img src="{% static 'img/mediacorp.png' %}" class="logo-clients" alt="">
            </div>
        </div>

        <div class="content contact">
            <div class="row">
                <div class="col-md-6 image-contact">
                </div>
                <div class="col-md-6">
                    <div class="contact-content">
                        <h3 class="contact-title custom-contact">
                            Planning something big?
                        </h3>
                        <p class="contact-desc">
                            For large and complex events, our team of experts can help you every step of the way
                        </p>
                        <a class="btn btn-primary search-button-select contact-button" href="#" role="button">CONTACT
                            US</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="first-footer">
                <div class="row footer-header">
                    <div class="col-md-3 footer">
                        <p class="footer-title">Airbnb</p>
                        <p>
                            About us<br>
                            Careers<br>
                            Press<br>
                            Policies<br>
                            Help<br>
                            Diversity & Belonging<br>
                        </p>
                    </div>
                    <div class="col-md-3 footer">
                        <p class="footer-title">Discover</p>
                        <p>
                            Trust & Safety<br>
                            Travel Credit<br>
                            Gift Cards<br>
                            Airbnb Citizen<br>
                            Businness Travel<br>
                            Guidebooks<br>
                            Airbnbmag<br>
                        </p>
                    </div>
                    <div class="col-md-3 footer">
                        <p class="footer-title">Hosting</p>
                        <p>
                            Why Host<br>
                            Hospitality<br>
                            Responsible Hosting<br>
                            Community Center<br>
                        </p>
                    </div>
                    <div class="col-md-3 form-select">
                        <select class="form-control form-control-sm select-footer">
                            <option>English</option>
                        </select>
                        <select class="form-control form-control-sm select-footer">
                            <option>IDR</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="second-footer">
                <div class="row">
                    <div class="col-md-6" style="align-items: flex-start; justify-content: flex-start;">
                        <p>&copy;Airbnb, Inc.</p>
                    </div>
                    <div class="col-md-6" style="align-items: flex-end; justify-content: flex-end;">
                        <p class="footer-right">
                            <a href="#">Terms</a>
                            <a href="#">Privacy</a>
                            <a href="#">Sitemap</a>
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- script -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>