@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

body {
  overflow-x: hidden;
}

.transparent {
  background-color: transparent;
  margin-bottom: 1rem !important;
}

.nav-item .nav-link {
  color: white;
  font-size: 12px;
  margin-top: 8px;
}

.logo-image {
  width: 140px;
}

.navbar-brand {
  margin-right: 4.5rem;
}

.right {
  list-style: none;
}

.cart-custom {
  display: flex;
  flex-direction: row;
}

.cart-custom .fa {
  margin-top: 8px;
  display: block;
  padding: 0.5rem 0rem;
  padding-left: 0.8rem;
  color: white;
}

.add-space {
  margin-left: 10px;
  margin-top: 8px;
  background-color: #e14e68;
  border: none;
  border-radius: 5px;
  font-size: 0.875rem;
  width: 7rem;
}

.display-4 {
  font-size: 30px;
  text-align: center;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.jumbotron {
  height: 100% !important;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/static/img/bg.jpg) repeat;
  background-position: center;
  background-size: cover;
}

.jumbotron-custom {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.search-bar {
  width: 48%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

.select-type {
  padding-left: 0px;
}

.form-control {
  height: 35px;
}

.search-button {
  padding-left: 0px;
}

.search-button-select {
  background-color: #e14e68;
  border: none;
  border-radius: 0px;
  font-size: 0.875rem;
  width: 5rem;
}

.search-button-select:hover {
  background-color: #e14e68;
}

.content-title {
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}

.col-md-7,
.col-md-3,
.col-md-2,
.col-md-6 {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.workspace-first {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.workspace-content {
  margin-top: 10px;
  text-align: center;
}

.workspace-first img {
  width: 100%;
  height: 300px;
}

.listings {
  margin: 2rem 1rem;
}

.listings img {
  width: 20%;
}

.listings .card {
  margin-left: 1rem;
  margin-right: 1rem;
  width: 100%;
  border: none;
}

.listings .card img {
  width: 100%;
  height: 300px;
}

.price-title {
  font-size: 14px;
}

.location {
  font-size: 14px;
}

.review {
  font-size: 10px;
}

.listing-content p {
  margin-bottom: 0px;
}

.custom-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  color: black;
}

.carousel-control-next,
.carousel-control-prev {
  width: 0px;
  margin-top: 10%;
}

.works {
  background-color: #fafafa;
  margin-top: 4rem;
  padding: 40px;
}

.works .row {
  margin-top: 4rem;
}

.works-content {
  width: 100%;
  font-size: 14px;
  text-align: center;
  padding: 0px 60px;
}

.works-content .works-img {
  margin-bottom: 20px;
  width: 100px;
}

.works-img-other {
  margin-left: -35px;
  margin-bottom: -7px;
  width: 80px;
}

.clients-header {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.clients-header .content-title {
  margin-bottom: 2rem;
}

.clients {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.logo-clients {
  margin: 20px 50px;
  width: 80px;
}
.logo-clients-left {
  width: 50px;
  margin: 0px;
  margin-left: 50px;
}
span .logo-clients-right {
  width: 40px;
  margin: 0px;
  margin-right: 50px;
}

.contact .col-md-6 {
  justify-content: flex-start;
  align-items: flex-start;
}

.contact {
  background-color: #fafafa;
}

.image-contact {
  background: url("/static/img/bg.jpg") no-repeat;
  background-size: cover;
}

.contact-content {
  margin: 50px;
  width: 50%;
  margin-bottom: 85px;
}

.contact-desc {
  margin-bottom: 45px;
  padding: 7px;
}

.custom-contact {
  font-size: 40px;
  font-weight: 100;
}

.contact-button {
  width: 40%;
}

footer .container {
  margin-left: 5%;
  margin-right: 5%;
}

.footer.col-md-3 {
  justify-content: flex-start;
  align-items: flex-start;
}

.form-select.col-md-3 {
  justify-content: flex-start;
  align-items: flex-start;
  display: inline;
}

.footer-header {
  margin-top: 3rem;
}

.footer {
  font-size: 12px;
}

.first-footer {
  border-bottom: 0.5px solid #e3e3e3;
}

.footer-title {
  font-weight: bold;
}

.select-footer {
  width: 70%;
  margin: 10px;
}

.second-footer {
  padding: 10px;
  font-size: 12px;
}

.second-footer p {
  margin-bottom: 0px;
}

.footer-right {
  float: right;
}

.footer-right a,
i {
  color: black;
  margin: auto 3px;
}

@media screen and (max-width: 600px) {
  * {
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
  }

  .navbar-brand {
    margin-right: 0px;
  }

  .nav-item .nav-link {
    font-size: 15px;
  }

  .navbar-toggler {
    border: 1px solid #e14e68;
  }

  .display-4 {
    width: 90%;
    text-align: center;
  }

  option {
    width: 70%;
  }

  .search-bar {
    width: 70%;
  }

  .cart-custom .fa {
    padding-left: 0px;
    margin-right: 10px;
  }

  .add-space {
    margin-left: auto;
    margin-top: 1rem;
    font-size: 15px;
  }

  .add-space:hover {
    background-color: #e14e68;
  }

  .col-md-7,
  .col-md-3,
  .col-md-2 {
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .select-type {
    padding-left: 15px;
  }

  .resp-search {
    width: 100%;
  }

  .search-button {
    display: flex;
    padding-left: 15px;
    justify-content: center;
  }

  .search-button-select {
    width: 80%;
  }

  .jumbotron {
    height: 100% !important;
  }

  .workspace-first img {
    width: 200px;
  }

  .workspace-first .custom-md-6 img {
    margin-left: 0px;
    margin-right: 0px;
  }

  .listings .col-md-3 .card img {
    height: 300px;
    width: 200px;
  }

  .listings .card {
    margin-left: 20%;
    width: 100%;
    border: none;
  }

  .carousel-control-next,
  .carousel-control-prev {
    width: 80px;
  }
  .custom-contact {
    font-size: 35px;
    overflow: hidden;
  }

  .contact-content {
    width: 80vw;
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  footer .container {
    margin-left: 0px;
    padding: 0px 40px;
  }

  .select-footer {
    margin: auto;
    margin-bottom: 10px;
  }
}
